.Login {
  height: max-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: -12vh;

  .LoginForm {
    display: flex;
    flex-direction: column;

    span:first-of-type {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 28px;
      margin-bottom: 0.3em;
      color: #FFFFFF;
    }

    hr {
      width: 3pc;
      align-self: flex-start;
      margin: 0 0 2em;
      background-color: #FFFFFF;
      border: solid 1px #FFFFFF;
    }

    label {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0.4em;
      color: #FFFFFF;
    }

    input {
      line-height: 1.5;
      border: none;
      border-bottom: solid 1px #FFFFFF;
      background-color: transparent;
      outline: none;
      font-size: 1em;
      margin-bottom: 1em;
      color: #FFFFFF;
      font-family: "Source Sans Pro", sans-serif;
    }

    input:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 1000px #3840A8;
      -webkit-text-fill-color: #FFFFFF !important;
    }

    input[type="email"]::placeholder,
    input[type="password"]::placeholder {
        color: #CCCCCC;
    }

    .LoginFormFPassword {
      align-self: flex-end;
      margin: -0.8em 0 0.8em;

      a {
        text-decoration: none;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
        cursor: pointer;
      }
    }

    .LoginShowPassword{
      position: relative;
      width: 18px;
      height: 10px;
      margin: -42px 10px 32px;
      align-self: flex-end;
      cursor: pointer;
    }

    button {
      width: 150px;
      align-self: center;
      border: none;
      border-radius: 30px;
      line-height: 1;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      background-color: #000000;
      color: #FFFFFF;
      cursor: pointer;
      padding: 12px;
    }
  }

  p:first-of-type{
    color: #78F4EF;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    align-self: center;
    margin: 0.8em 0;
  }

  .LoginSocial {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 120px;
    margin-bottom: 1em;

    img {
      background-color: #FFFFFF;
      padding: 4px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  p {
    align-self: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: #FFFFFF;

    span > a{
      color: #78F4EF;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.Triangle {
  height: 250px;
  width: 200px;
  background-color: #FFFFFF;
  position: absolute;
}

.LoginTriangleLeft{
  composes: Triangle;
  left: 0;
  top: 20vh;
  clip-path: polygon(49% 51%, 0 0, 0 100%);
}

.LoginTriangleRight {
  composes: Triangle;
  right: 0;
  bottom: 10vh;
  clip-path: polygon(49% 51%, 100% 0, 100% 100%);
}
