@import "foundation/variables";

.Overlay {
  background-color: $overlay-grey;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
}

.LoadingOverlay {
  align-items: center;
  composes: Overlay;
  display: flex;
  justify-content: center;
  z-index: 99999;
}
