.ProfileRepoList {
  display: grid;
  grid-gap: 1em;
  justify-items: center;
  line-height: normal;

  h3 {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    margin-left: -2em;
    margin-bottom: 10px;
  }

  &Section {
    height: 400px;
    overflow-y: auto;
    border-top: solid 2px #DCDCDC;
    border-bottom: solid 2px #DCDCDC;

    &Card {
      border: none;
      border-radius: 10px;
      box-shadow: 1px 0 4px 0 #DCDCDC;
      display: grid;
      grid-gap: 1em;
      padding: 2em;
      width: 80%;
      margin: 1em auto;
      cursor: pointer;

      h4 {
        font-weight: bold;
      }
    }
  }
}
