@import "foundation/variables";

.Card {
  background-color: $white;
  border: none;
  box-shadow: 0 2px 5px 0 $grey;
  padding: 16px;
  font-family: Seravek-Light, serif;
  width: 16vw;
  min-width: 178px;
  height: fit-content;
  //position: sticky;
  //top: 133px;
  //z-index: 999;

  h2 {
    font-weight: bold;
    font-size: 20px;
    margin-left: 14px;
    margin-bottom: 10px;
  }

  .NullRepoList {
    padding: 10px 10px 10px 14px;
  }

  .NonNullRepoList {
    padding: 10px;
  }

  .SidebarRepoList {
    border-bottom: solid 1px $black;
    border-top: solid 1px $black;
    list-style: none;
    margin-bottom: 8px;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $grey;
        border-radius: 30px;
      }

      &:active {
        background-color: $white;
        color: $black;
      }

      span {
        padding-left: 5px;
        width: 105px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .ShowMore {
    color: $primary-blue;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
  }
}
