@import "foundation/variables";

.FilterSortSection {
  align-items: center;
  background-color: $white;
  display: flex;
  font-family: Seravek-Light, serif;
  justify-content: flex-end;
  width: 100%;

  p {
    font-weight: bold;
    padding: 15px 15px 0;
  }

  .FilterInput {
    display: flex;
  }

  .SortInput {
    display: flex;
    margin-right: 15%;
  }
}
