.FilterSortSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Seravek-Light, serif;
  background-color: #FFFFFF;
  //position: fixed;
  width: 100%;
  //top: 64px;
  //left: 0;
  //height: 10vh;
  //z-index: 99;

  p {
    padding: 15px 15px 0;
    font-weight: bold;
  }

  .FilterInput {
    display: flex;
  }

  .SortInput {
    display: flex;
    margin-right: 15%;
  }
}
